@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@600&display=swap');
* {
    box-sizing: border-box;
}
:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}
body,
html {
    margin: 0;
    padding: 0;
}
.center {
    display: flex;
    justify-content: center;
}
.wrapper1 {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 21px;
    margin-top: 90px;
    height: calc(100vh - 90px);
}
.wrapper {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.wrapper::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.shop {
    display: flex;
    gap: 18px;
}

.money-info {
    display: flex;
    padding-left: 13px;
    padding-top: 35px;
    width: 240px;
    justify-content: space-between;
    align-items: center;
}
.grid-items {
    width: 850px;
    box-sizing: border-box;
    padding-left: 15px;
    display: grid;
    gap: 30px;
    grid-template-columns: 255px 255px 255px;
    grid-auto-flow: row;
    overflow-y: hidden;
    height: 800px;
}

.input {
    width: 60px;
}

.item-icon {
    height: 34px;
    width: 34px;
    padding-right: 4px;
}
.price-inp {
    padding-bottom: 15px;
    width: 200px;
    gap: 40px;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #545969;
}
.shop {
    &__items {
        .cont {
            margin-left: 16px;
            width: 825px;
            display: flex;
            justify-content: space-between;
        }
        .button_for_slide_r {
            color: white;
            font-size: 25px;
            background-color: #5f66a9;
            border-radius: 50%;
            width: 33px;
            height: 33px;
            background-repeat: no-repeat;
        }
        .button_for_slide_l {
            color: white;
            font-size: 25px;
            background-color: #5f66a9;
            border-radius: 50%;
            width: 33px;
            height: 33px;
            background-repeat: no-repeat;
        }
        .shop__instruments {
            padding-left: 15px;
            font-family: 'Advent Pro', sans-serif;
            margin-top: 10px;
            display: flex;
            color: #545969;
            font-size: 18px;
            font-weight: bold;
            align-items: center;

            .instruments-selection {
                display: flex;
                font-family: 'Advent Pro', sans-serif;
                gap: 10px;
                color: #495889;
                cursor: pointer;
            }
        }

        .shop__item {
            background: #ffffff;
            box-shadow: 0px 3px 7px 3px rgba(0, 0, 0, 0.25);
            display: flex;
            flex-direction: column;
            width: 255px;
            height: 348px;
            border-radius: 8px;
            box-sizing: border-box;
            margin-top: 21px;
            position: relative;
            perspective: 1000px;
            &-img {
                img {
                    width: 100%;
                    height: 186px;
                    border-radius: 8px;
                }
            }
            &-description {
                display: flex;
                flex-direction: column;
                padding-top: 14px;
                width: 230px;
                .item-headline {
                    font-size: 24px;
                    line-height: 16px;
                    font-weight: 400;
                    padding-bottom: 14px;
                    padding-left: 13px;
                    color: #1a2740;
                    &_link {
                        text-decoration: none;
                        color: #1a2740;
                    }
                }
                .item-required_level {
                    padding-left: 13px;
                    font-size: 18px;
                    line-height: 16px;
                    color: #545969;
                }
                .item-value {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    padding-right: 30px;
                    font-size: 36px;
                    line-height: 16px;
                    color: #1a2740;
                    padding-bottom: 20px;
                }
                .item-lower {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-bottom: 15px;
                    padding-right: 19px;
                    .item-cart {
                        width: 50px;
                        height: 50px;
                        border-radius: 100px;
                        border: none;
                        outline: none;
                        background: #07ad18;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        cursor: pointer;
                        &_icon {
                            width: 29.06px;
                            height: 26.16px;
                            path {
                                fill: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}
.filter_button {
    width: 149px;
    height: 37px;
    border-radius: 8px;
    background-color: #5f66a9;
    border: none;
    font-size: 20px;
    color: #d8dcea;
    font-weight: 600;
    margin: 10px 20px 0 20px;

    &:hover {
        border: 3px solid #07ad18;
    }
}
.filters {
    position: sticky;
    top: 0;
    padding: 21px;
    border: 2px solid #495889;
    box-sizing: border-box;
    border-radius: 8px;
    width: 240px;
    height: 300px;
    justify-content: center;
    margin-top: 54px;

    .filter_text {
        align-items: center;
        margin-bottom: 5px;
        color: #545969;
        font-family: 'Advent Pro', sans-serif;
        font-weight: bold;
        font-size: 24px;
    }
    .filter_semi_c {
        color: #545969;
        font-style: normal;
        font-size: 24px;
    }
    .filter_text_price {
        word-spacing: 76px;
        margin-bottom: 5px;
    }
}

.input_item {
    border-radius: 8px;

    font-size: 18px;
    line-height: 18px;
    color: black;
    border: 1px;
    border-color: #fff;
    width: 100px;
    height: 33px;
    cursor: pointer;
}
.input_item_find {
    font-size: 18px;
    line-height: 18px;
    border: 2px solid white;
    border-radius: 8px;
    width: 200px;
    height: 33px;
    margin-bottom: 10px;
    cursor: pointer;

    &:hover {
        border: 2px solid #4c62b4;
    }
}

input[type='number'] {
    -moz-appearance: textfield;
    &:hover {
        border: 2px solid #4c62b4;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.target_sort {
    color: #092377;
    text-decoration-line: underline;
}
// 3D items

.card {
    display: flex;
    flex-direction: column;
    width: 255px;
    height: 348px;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 21px;
    position: relative;
    perspective: 1000px;
    img {
        width: 255px;
        height: 186px;
        border-radius: 8px;
    }

    &-description {
        display: flex;
        flex-direction: column;
        padding-top: 14px;
        width: 230px;
        .item-headline {
            font-size: 24px;
            line-height: 16px;
            font-weight: 400;
            padding-bottom: 14px;
            padding-left: 13px;
            color: #1a2740;
            &_link {
                text-decoration: none;
                color: #1a2740;
            }
        }
        .item-required_level {
            padding-left: 13px;
            font-size: 18px;
            line-height: 16px;
            color: #545969;
        }
        .item-value {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 30px;
            font-size: 36px;
            line-height: 16px;
            color: #1a2740;
            padding-bottom: 20px;
        }
        .item-lower {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 15px;
            padding-right: 19px;
            .item-cart {
                width: 50px;
                height: 50px;
                border-radius: 100px;
                border: none;
                outline: none;
                background: #07ad18;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                cursor: pointer;
                &_icon {
                    width: 29.06px;
                    height: 26.16px;
                    path {
                        fill: #fff;
                    }
                }
            }
        }
    }
}
.front,
.back {
    position: absolute;
    width: 255px;
    height: 348px;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
    backface-visibility: hidden;
    border-radius: 10px;
}
.front {
    background-color: #fff;
}
.back {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #fff;
    transform: rotateY(180deg);
}
.card:hover .front {
    transform: rotateY(180deg);
}
.card:hover .back {
    transform: rotateY(360deg);
}

.item-cart {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: none;
    outline: none;
    background: #07ad18;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    &_icon {
        width: 29.06px;
        height: 26.16px;
        path {
            fill: #fff;
        }
    }
}
.back__desc {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 150px;
    margin-bottom: 40px;
    color: black;
    font-size: 20px;
}

.item-value {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
    font-size: 36px;
    line-height: 16px;
    color: #1a2740;
    padding-bottom: 20px;
}
.item-lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    padding-right: 19px;
    .item-cart {
        width: 50px;
        height: 50px;
        border-radius: 100px;
        border: none;
        outline: none;
        background: #07ad18;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        &_icon {
            width: 29.06px;
            height: 26.16px;
            path {
                fill: #fff;
            }
        }
    }
}
