@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

body,
html {
  margin: 0;
  padding: 0;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 21px;
  margin-top: 90px;
  height: calc(100vh - 90px);
}

.wrapper {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
}

.money-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 13px;
  padding-top: 35px;
  width: 240px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-items {
  width: 850px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 15px;
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: 255px 255px 255px;
      grid-template-columns: 255px 255px 255px;
  grid-auto-flow: row;
  overflow-y: hidden;
  height: 800px;
}

.input {
  width: 60px;
}

.item-icon {
  height: 34px;
  width: 34px;
  padding-right: 4px;
}

.price-inp {
  padding-bottom: 15px;
  width: 200px;
  gap: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  color: #545969;
}

.shop__items .cont {
  margin-left: 16px;
  width: 825px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop__items .button_for_slide_r {
  color: white;
  font-size: 25px;
  background-color: #5f66a9;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  background-repeat: no-repeat;
}

.shop__items .button_for_slide_l {
  color: white;
  font-size: 25px;
  background-color: #5f66a9;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  background-repeat: no-repeat;
}

.shop__items .shop__instruments {
  padding-left: 15px;
  font-family: 'Advent Pro', sans-serif;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #545969;
  font-size: 18px;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop__items .shop__instruments .instruments-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Advent Pro', sans-serif;
  gap: 10px;
  color: #495889;
  cursor: pointer;
}

.shop__items .shop__item {
  background: #ffffff;
  -webkit-box-shadow: 0px 3px 7px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 7px 3px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 255px;
  height: 348px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 21px;
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.shop__items .shop__item-img img {
  width: 100%;
  height: 186px;
  border-radius: 8px;
}

.shop__items .shop__item-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 14px;
  width: 230px;
}

.shop__items .shop__item-description .item-headline {
  font-size: 24px;
  line-height: 16px;
  font-weight: 400;
  padding-bottom: 14px;
  padding-left: 13px;
  color: #1a2740;
}

.shop__items .shop__item-description .item-headline_link {
  text-decoration: none;
  color: #1a2740;
}

.shop__items .shop__item-description .item-required_level {
  padding-left: 13px;
  font-size: 18px;
  line-height: 16px;
  color: #545969;
}

.shop__items .shop__item-description .item-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 30px;
  font-size: 36px;
  line-height: 16px;
  color: #1a2740;
  padding-bottom: 20px;
}

.shop__items .shop__item-description .item-lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
  padding-right: 19px;
}

.shop__items .shop__item-description .item-lower .item-cart {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: none;
  outline: none;
  background: #07ad18;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.shop__items .shop__item-description .item-lower .item-cart_icon {
  width: 29.06px;
  height: 26.16px;
}

.shop__items .shop__item-description .item-lower .item-cart_icon path {
  fill: #fff;
}

.filter_button {
  width: 149px;
  height: 37px;
  border-radius: 8px;
  background-color: #5f66a9;
  border: none;
  font-size: 20px;
  color: #d8dcea;
  font-weight: 600;
  margin: 10px 20px 0 20px;
}

.filter_button:hover {
  border: 3px solid #07ad18;
}

.filters {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 21px;
  border: 2px solid #495889;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  width: 240px;
  height: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 54px;
}

.filters .filter_text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
  color: #545969;
  font-family: 'Advent Pro', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.filters .filter_semi_c {
  color: #545969;
  font-style: normal;
  font-size: 24px;
}

.filters .filter_text_price {
  word-spacing: 76px;
  margin-bottom: 5px;
}

.input_item {
  border-radius: 8px;
  font-size: 18px;
  line-height: 18px;
  color: black;
  border: 1px;
  border-color: #fff;
  width: 100px;
  height: 33px;
  cursor: pointer;
}

.input_item_find {
  font-size: 18px;
  line-height: 18px;
  border: 2px solid white;
  border-radius: 8px;
  width: 200px;
  height: 33px;
  margin-bottom: 10px;
  cursor: pointer;
}

.input_item_find:hover {
  border: 2px solid #4c62b4;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']:hover {
  border: 2px solid #4c62b4;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.target_sort {
  color: #092377;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 255px;
  height: 348px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 21px;
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.card img {
  width: 255px;
  height: 186px;
  border-radius: 8px;
}

.card-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 14px;
  width: 230px;
}

.card-description .item-headline {
  font-size: 24px;
  line-height: 16px;
  font-weight: 400;
  padding-bottom: 14px;
  padding-left: 13px;
  color: #1a2740;
}

.card-description .item-headline_link {
  text-decoration: none;
  color: #1a2740;
}

.card-description .item-required_level {
  padding-left: 13px;
  font-size: 18px;
  line-height: 16px;
  color: #545969;
}

.card-description .item-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 30px;
  font-size: 36px;
  line-height: 16px;
  color: #1a2740;
  padding-bottom: 20px;
}

.card-description .item-lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
  padding-right: 19px;
}

.card-description .item-lower .item-cart {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: none;
  outline: none;
  background: #07ad18;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.card-description .item-lower .item-cart_icon {
  width: 29.06px;
  height: 26.16px;
}

.card-description .item-lower .item-cart_icon path {
  fill: #fff;
}

.front,
.back {
  position: absolute;
  width: 255px;
  height: 348px;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 10px;
}

.front {
  background-color: #fff;
}

.back {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  background-color: #fff;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card:hover .front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card:hover .back {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.item-cart {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: none;
  outline: none;
  background: #07ad18;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.item-cart_icon {
  width: 29.06px;
  height: 26.16px;
}

.item-cart_icon path {
  fill: #fff;
}

.back__desc {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 150px;
  margin-bottom: 40px;
  color: black;
  font-size: 20px;
}

.item-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 30px;
  font-size: 36px;
  line-height: 16px;
  color: #1a2740;
  padding-bottom: 20px;
}

.item-lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
  padding-right: 19px;
}

.item-lower .item-cart {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: none;
  outline: none;
  background: #07ad18;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.item-lower .item-cart_icon {
  width: 29.06px;
  height: 26.16px;
}

.item-lower .item-cart_icon path {
  fill: #fff;
}
